In [6]:
#Reading raw_data line by line 
raw_data = []
with open('raw_data.txt') as f:
    raw_data = f.readlines()

In [13]:
#making a dataframe 
import pandas as pd
pd.set_option('max_colwidth',300)

raw_data_df = pd.DataFrame.from_dict(raw_data)
# raw_data_df.columns = ['transcript']
raw_data_df = raw_data_df.sort_index()
raw_data_df

                                                                                                                                                                                                                                                                                                    0
0                                                   BOS i want to fly from boston at 838 am and arrive in denver at 1110 in the morning EOS\tO O O O O O B-fromloc.city_name O B-depart_time.time I-depart_time.time O O O B-toloc.city_name O B-arrive_time.time O O B-arrive_time.period_of_day O\n
1                                                                                                                           BOS show me all round trip flights between houston and las vegas EOS\tO O O O B-round_trip I-round_trip O O B-fromloc.city_name O B-toloc.city_name I-toloc.city_name O\n
2                                                                                BOS i would like some information on a flight from denver to san francisco on united airlines EOS\tO O O O O O O O O O B-fromloc.city_name O B-toloc.city_name I-toloc.city_name O B-airline_name I-airline_name O\n
3    BOS what are the coach flights between dallas and baltimore leaving august tenth and returning august twelve EOS\tO O O O B-class_type O O B-fromloc.city_name O B-toloc.city_name O B-depart_date.month_name B-depart_date.day_number O O B-return_date.month_name B-return_date.day_number O\n
4                                                                                                                                                                             BOS i'm flying from boston to the bay area EOS\tO O O O B-fromloc.city_name O O B-toloc.city_name I-toloc.city_name O\n
..                                                                                                                                                                                                                                                                                                ...
495                                                                                                                                                                                 BOS pm flights dallas to atlanta EOS\tO B-depart_time.period_of_day O B-fromloc.city_name O B-toloc.city_name O\n
496                                                                                                                                                                              BOS information on flights from baltimore to philadelphia EOS\tO O O O O B-fromloc.city_name O B-toloc.city_name O\n
497                                              BOS what flights from atlanta to st. louis on tuesday arriving around 230 pm EOS\tO O O O B-fromloc.city_name O B-toloc.city_name I-toloc.city_name O B-depart_date.day_name O B-arrive_time.time_relative B-arrive_time.time I-arrive_time.time O\n
498                                                                                                                                                                                                   BOS show me ground transportation in san francisco EOS\tO O O O O O B-city_name I-city_name O\n
499                                     BOS what flights do you have from newark new jersey to ontario california that connect in phoenix EOS\tO O O O O O O B-fromloc.city_name B-fromloc.state_name I-fromloc.state_name O B-toloc.city_name B-toloc.state_name O B-connect O B-stoploc.city_name O

[500 rows x 1 columns]

In [14]:
# Apply a first round of text cleaning techniques
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = 
    return text

round1 = lambda x: clean_text_round1(x)

In [17]:
data_clean = pd.DataFrame(raw_data_df[0].apply(round1))
data_clean
# some problems in cleaned data as I am getting things like  bdeparttimetime ideparttimetime in sentences

                                                                                                                                                                                                                                                                            0
0                                                      bos i want to fly from boston at  am and arrive in denver at  in the morning eos\to o o o o o bfromloccityname o bdeparttimetime ideparttimetime o o o btoloccityname o barrivetimetime o o barrivetimeperiodofday o\n
1                                                                                                                bos show me all round trip flights between houston and las vegas eos\to o o o broundtrip iroundtrip o o bfromloccityname o btoloccityname itoloccityname o\n
2                                                                     bos i would like some information on a flight from denver to san francisco on united airlines eos\to o o o o o o o o o bfromloccityname o btoloccityname itoloccityname o bairlinename iairlinename o\n
3    bos what are the coach flights between dallas and baltimore leaving august tenth and returning august twelve eos\to o o o bclasstype o o bfromloccityname o btoloccityname o bdepartdatemonthname bdepartdatedaynumber o o breturndatemonthname breturndatedaynumber o\n
4                                                                                                                                                               bos im flying from boston to the bay area eos\to o o o bfromloccityname o o btoloccityname itoloccityname o\n
..                                                                                                                                                                                                                                                                        ...
495                                                                                                                                                                    bos pm flights dallas to atlanta eos\to bdeparttimeperiodofday o bfromloccityname o btoloccityname o\n
496                                                                                                                                                            bos information on flights from baltimore to philadelphia eos\to o o o o bfromloccityname o btoloccityname o\n
497                                                 bos what flights from atlanta to st louis on tuesday arriving around  pm eos\to o o o bfromloccityname o btoloccityname itoloccityname o bdepartdatedayname o barrivetimetimerelative barrivetimetime iarrivetimetime o\n
498                                                                                                                                                                               bos show me ground transportation in san francisco eos\to o o o o o bcityname icityname o\n
499                                bos what flights do you have from newark new jersey to ontario california that connect in phoenix eos\to o o o o o o bfromloccityname bfromlocstatename ifromlocstatename o btoloccityname btolocstatename o bconnect o bstoploccityname o

[500 rows x 1 columns]

In [18]:
# second round of cleaning
def clean_text_round2(text):
    '''Get rid of some additional punctuation and non-sensical text that was missed the first time around.'''
    text = re.sub('[‘’“”…]', '', text)
    text = re.sub('\n', '', text)
    return text

round2 = lambda x: clean_text_round2(x)

In [19]:
data_clean = pd.DataFrame(data_clean[0].apply(round2))
data_clean

                                                                                                                                                                                                                                                                          0
0                                                      bos i want to fly from boston at  am and arrive in denver at  in the morning eos\to o o o o o bfromloccityname o bdeparttimetime ideparttimetime o o o btoloccityname o barrivetimetime o o barrivetimeperiodofday o
1                                                                                                                bos show me all round trip flights between houston and las vegas eos\to o o o broundtrip iroundtrip o o bfromloccityname o btoloccityname itoloccityname o
2                                                                     bos i would like some information on a flight from denver to san francisco on united airlines eos\to o o o o o o o o o bfromloccityname o btoloccityname itoloccityname o bairlinename iairlinename o
3    bos what are the coach flights between dallas and baltimore leaving august tenth and returning august twelve eos\to o o o bclasstype o o bfromloccityname o btoloccityname o bdepartdatemonthname bdepartdatedaynumber o o breturndatemonthname breturndatedaynumber o
4                                                                                                                                                               bos im flying from boston to the bay area eos\to o o o bfromloccityname o o btoloccityname itoloccityname o
..                                                                                                                                                                                                                                                                      ...
495                                                                                                                                                                    bos pm flights dallas to atlanta eos\to bdeparttimeperiodofday o bfromloccityname o btoloccityname o
496                                                                                                                                                            bos information on flights from baltimore to philadelphia eos\to o o o o bfromloccityname o btoloccityname o
497                                                 bos what flights from atlanta to st louis on tuesday arriving around  pm eos\to o o o bfromloccityname o btoloccityname itoloccityname o bdepartdatedayname o barrivetimetimerelative barrivetimetime iarrivetimetime o
498                                                                                                                                                                               bos show me ground transportation in san francisco eos\to o o o o o bcityname icityname o
499                              bos what flights do you have from newark new jersey to ontario california that connect in phoenix eos\to o o o o o o bfromloccityname bfromlocstatename ifromlocstatename o btoloccityname btolocstatename o bconnect o bstoploccityname o

[500 rows x 1 columns]

In [20]:
#creating document-term matrix using CountVectorizer and excluding common English stop words
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(data_clean[0])
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_dtm.index = data_clean.index
data_dtm

C:\Users\siddh\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abbreviation,afternoon,air,aircraft,airfare,airline,airlines,airplane,airport,airports,...,way,wednesday,wednesdays,week,weekday,whats,wish,worth,yn,york
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
data_clean.to_pickle('new_raw_data_clean.pkl')